body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #ffd6e7, #fff0f5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 25px;
    width: 80%;
    max-width: 450px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1 {
    color: #d63384;
}

p {
    color: #555;
    font-size: 17px;
}

.love-box {
    font-size: 90px;
    cursor: pointer;
    margin: 30px;
    transition: transform 0.3s;
}

.love-box:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#message {
    animation: appear 1s ease;
}

button {
    background: #ff69b4;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

#note {
    margin-top: 20px;
    font-style: italic;
    color: #d63384;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.butterfly {
    font-size: 45px;
    position: relative;
    animation: fly 4s infinite alternate ease-in-out;
}

@keyframes fly {
    from {
        transform: translateX(-60px) translateY(10px);
    }

    to {
        transform: translateX(60px) translateY(-20px);
    }
}
.flowers button {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s;
}

.flowers button:hover {
    transform: scale(1.2);
}
#secret {
    margin-top: 25px;
    padding: 25px;
    background: #fff5fa;
    border-radius: 25px;
    font-size: 18px;
    animation: appear 1.5s ease;
}